.person-div{
    margin-bottom: 0;
    max-height: 450px;
    height: auto;
    overflow: hidden;
}

.person-details{
    margin:0 auto;
    font-size: 2rem;
    
    background-color: #58B19F;
    overflow: visible;

}
.bg-div{
    background-color: #58B19F;
}
#droplet {
    background-color: #58B19F;
    margin-bottom:2%;
    margin-left: 47%;
    width: 50px;
    height: 50px;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    transform: none;
    /* -webkit-border-top-left-radius: 0; */
    -webkit-border-top-right-radius: 75px;
    -webkit-border-bottom-right-radius: 75px;
    -webkit-border-bottom-left-radius: 75px;
    -webkit-transform:rotate(45deg);
    box-shadow: 1px 1px 7px #1a1a1a;
}
.pd{  
    padding-left: 10%;
    margin-bottom: 0;
    background-color: #58B19F;
    color: white;
}
.pd p{
    font-size: x-large;
}
.avatar {
    margin-top: 10%;
    margin-bottom: 2%;
    margin-bottom: 0;
    /* Rounded border */
    /* border: 1px solid black; */
    border-top-left-radius: 0;
    /* border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 200px;
    -webkit-border-bottom-right-radius: 200px;
    -webkit-border-bottom-left-radius: 200px;
    transform: none;
    -webkit-transform:rotate(45deg) !important; */
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 200px;

}

.avatar__image {
    position: relative;
    top: -68%;
    left: 0%;
    height: 46rem;
    transform: none;
    background-color: #6c757d;
    /* -webkit-transform: rotate(-45deg); */
}

.container-nav {
    padding-top: 2%;
    width:100%;
    /* Background color */
    background-color: #58B19F;

    /* You can use gradient background color such as
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */

    /* Curved corners */
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 50% 40%;
}
.container-desc {
    padding-top: 2%;
    margin:0;
    width:100%;
    /* Background color */
    background-color: #58B19F;

    /* You can use gradient background color such as
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%); */

    /* Curved corners */
    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;
}
.skills{
    list-style-type:circle;
    margin-bottom: 0;
    font-size: x-large;
}
.tech-use{
    list-style-type:circle;
    margin-bottom: 0;
}
.tech-use li{
    margin-left: 5%;
}
.social{
    background-color: #58B19F;
    margin-left: auto;
    margin-right: auto;
}
.social img{
    margin: 0 auto;
    width:200px;
    height:200px;
}
.card{
    border:none;
    background-color: #58B19F;

}
.card-img-top{
    /* width: 80%; */
    align-self: center;
    /* border-radius:20px; */
}
#contact {
    height:300px;
    background-color: #58B19F;
    color: #fff;
  }
  #contact .content-wrapper {
    height: 200px;
  }

  p {
    margin-top: 70px;
    margin-bottom: 1rem;
    }

  #contact .mail {
    font-size: 30px;
    margin-top: 40px;
  }
@media (max-width: 576px) {
    .avatar{
        margin-top: 25%;
        width:300px;
        height:300px;
    }
    .avatar__image {
        /* margin: 2% 10%; */
        height: 39.4rem;
        /* width: 300%; */
        /* top: -30%; */
        /* left: -100%; */
    }
    .skills{
        margin-bottom: 10%;
    }
    .card-img-top{
        width: 90%;
        height:200px;
    }
    #droplet{
        margin-left:45%;
    }
    .cont-btn{
        font-size: medium;
        padding:2% 16%;
        height:40px;
        margin:0 22%;
    }
  }
  @media (min-width:576px) and (max-width: 768px) {
      .avatar{
          margin-top: 30%;
      }
      .cont-btn{
        font-size: medium;
        padding:1% 17%;
        height:40px;
        margin:0 27%;
      }
   }

